@charset "UTF-8";
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root { scroll-behavior: smooth; }

body { font-family: "Karla", sans-serif; }

.container { width: 90%; margin: 0 auto; overflow: hidden; padding: 50px 0; height: auto; }

.scroll-up-btn { position: fixed; height: 45px; width: 35px; background: crimson; right: 10px; bottom: 10px; text-align: center; line-height: 45px; color: #000; font-size: 25px; z-index: 10; border-radius: 6px; border-bottom-width: 2px; cursor: pointer; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; }

.scroll-up-btn.show { bottom: 45px; opacity: 1; }

.scroll-up-btn:hover { -webkit-filter: brightness(90%); filter: brightness(90%); }

.header { width: 100%; height: 100vh; margin: 0 auto; }

.navigation { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 5rem; background: #fff; border-bottom: 1px solid transparent; -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); position: fixed; top: 0; z-index: 100; -webkit-transition: ease-in-out 0.5s; transition: ease-in-out 0.5s; padding: 0 40px; }

.logo { width: 21.88rem; height: auto; }

.logo__img { width: 80%; height: 5rem; vertical-align: top; }

.navigation__links { display: -webkit-box; display: -ms-flexbox; display: flex; font-weight: 500; -webkit-transition: ease-in-out 0.8s; transition: ease-in-out 0.8s; font-size: 1.25rem; }

.navigation__links a { text-decoration: none; color: #373d47; margin-left: 1.25rem; }

.navigation__links a::after { content: " "; display: block; width: 0px; height: 2px; background: #f1dede; -webkit-transition: width 0.2s; transition: width 0.2s; }

.navigation__links a:hover::after { width: 100%; -webkit-transition: width 0.2s; transition: width 0.2s; }

.hamburguer { display: none; width: 5rem; height: 5rem; text-align: center; z-index: 100; cursor: pointer; -webkit-transition: color 0.3 ease-in; transition: color 0.3 ease-in; }

.hamburguer > i { font-size: 1.56rem; line-height: 5rem; }

.hero { height: 100vh; width: 100%; }

.hero__img { width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; -o-object-position: center; object-position: center; -o-object-fit: cover; object-fit: cover; }

.about_me { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: #e2c2c6; text-align: center; }

.about_me__title { position: relative; font-size: 3.44rem; font-weight: 500; margin-bottom: 35px; color: #373d47; }

.about_me__title::before { content: ""; position: absolute; top: 76px; left: 50%; width: 320px; height: 2px; background: #373d47; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.about_me__title::after { content: "Maquilladora Profesional"; position: absolute; top: 65px; left: 50%; width: 240px; font-size: 20px; font-weight: 500; color: #373d47; padding: 0 5px; background: #e2c2c6; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.about_me__img { width: 230px; height: 230px; border-radius: 50%; -o-object-fit: cover; object-fit: cover; margin: 20px; }

.about_me__paragraph { width: 30%; margin: 45px 0; text-align: justify; font-size: 18px; font-weight: 400; color: #373d47; }

.services { background: #f8f7f5; width: 100%; height: auto; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.services__info { width: 80%; height: auto; }

.services__title { color: #373d47; font-size: 55px; font-weight: 500; margin-bottom: 10px; }

.service__legend { position: relative; color: #373d47; font-size: 18px; font-weight: 500; margin-bottom: 30px; }

.service__legend::before { content: ""; position: absolute; top: -8px; left: 50%; width: 255px; height: 2px; background: #373d47; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.service__legend::after { content: "Lo que proporciono"; position: absolute; top: -20px; left: 50%; width: 180px; font-size: 20px; color: #373d47; padding: 0 5px; background: #f8f7f5; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.services__content { width: 80%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.services__card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 460px; height: 300px; text-align: center; background: #f1dede; border: 1px solid #ccc; border-radius: 8px; -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); margin-bottom: 40px; }

.card_content { width: 100%; height: 100%; }

.services__card-img { width: 80%; height: 100%; border-radius: 8px 0 0px 8px; -o-object-fit: cover; object-fit: cover; }

.card__h3 { font-size: 30px; color: #373d47; font-weight: 500; margin: 45px 15px; }

.card_title { margin: 35px 0 !important; }

.services__card p { color: #373d47; font-size: 17px; font-weight: 400; padding: 0 40px; }

.service_redir { width: 30%; height: auto; }

.service_redir p { font-size: 21px; font-weight: 400; margin: 20px 0; color: #373d47; }

.customers { background: #e2c2c6; width: 100%; height: auto; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.customers__title { color: #373d47; font-size: 55px; font-weight: 500; margin-bottom: 10px; }

.costumbers__copy { position: relative; color: #373d47; font-size: 20px; font-weight: 500; margin-bottom: 20px; }

.box__img { width: 150px; height: 150px; -o-object-fit: cover; object-fit: cover; border-radius: 50%; border: 4px solid #ffeaea; }

.costumbers__copy::before { content: ""; position: absolute; top: -8px; left: 50%; width: 180px; height: 2px; background: #373d47; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.costumbers__copy::after { content: "Reseñas"; position: absolute; top: -20px; left: 50%; width: 80px; font-size: 20px; color: #373d47; padding: 0 5px; background: #e2c2c6; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.swiper-container { width: 75%; padding-top: 30px; padding-bottom: 30px; -webkit-box-shadow: none; box-shadow: none; cursor: none; }

.swiper-slide { background-position: center; background-size: cover; width: 320px; background: #f1dede; -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); -webkit-filter: blur(2px); filter: blur(2px); border-radius: 8px; }

.swiper-slide-active { -webkit-filter: blur(0px); filter: blur(0px); }

.testimonialBox { width: 100%; height: auto; padding: 20px 45px; margin: 0 auto; color: #000; border-radius: 12px; }

.swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-left { background-image: none; }

.swiper-container-3d { -webkit-perspective: 0; perspective: 0; }

.content h3 { font-size: 30px; color: #373d47; font-weight: 500; }

.content h4 { font-size: 18px; color: #373d47; font-weight: 400; }

.content p { font-size: 16px; color: #373d47; font-weight: 400; }

.content h3, .content h4, .content p { margin: 15px 0; }

/* PROYECTOS */
.portfolio { background-color: #f8f7f5; width: 100%; height: auto; text-align: center; }

.portfolio__title { position: relative; color: #373d47; font-size: 55px; font-weight: 500; margin-bottom: 55px; }

.portfolio__title::before { content: ""; position: absolute; top: 72px; left: 50%; width: 225px; height: 2px; background: #373d47; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.portfolio__title::after { content: "Algunos trabajos"; position: absolute; top: 60px; left: 50%; width: 160px; font-size: 20px; font-weight: 500; color: #373d47; padding: 0 5px; background: #f8f7f5; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.container__cards { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.card { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 385px; height: 500px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; padding: 40px; background: #f1dede; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); }

.card__img { width: 150px; height: 150px; border-radius: 50%; -o-object-fit: cover; object-fit: cover; }

.card__title { color: #373d47; font-size: 26px; font-weight: 500; }

.card__copy { width: 80%; height: auto; color: #373d47; font-size: 16px; font-weight: 400; }

.card__btn { display: inline-block; width: 140px; height: auto; padding: 5px; line-height: 25px; border: 1px solid #ccc; border-radius: 16px; background: #f8f7f5; text-decoration: none; text-align: center; font-weight: 400; font-size: 16px; color: #373d47; cursor: pointer; margin: 5px 0; }

.card__btn:hover { background: #e2c2c6; font-weight: 400; color: #fff; }

.card__btn i { font-size: 16px; margin-left: 10px; }

.card__img, .card__title, .card__copy { margin-bottom: 15px; }

.drop__menu { width: 75%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.drop__down { width: 75%; height: auto; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; -ms-grid-column-align: center; justify-self: center; }

.drop__down.show { display: none; }

.card__btn.mod { width: 130px; }

/* CONTACT */
.contact { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #e2c2c6; }

.contact__title { position: relative; color: #373d47; font-size: 55px; font-weight: 500; margin-bottom: 45px; }

.contact__title::before { content: ""; position: absolute; top: 72px; left: 50%; width: 230px; height: 2px; background: #373d47; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.contact__title::after { content: "Dejame un mensaje"; position: absolute; top: 60px; left: 50%; width: 185px; font-size: 20px; font-weight: 500; color: #373d47; padding: 0 5px; background: #e2c2c6; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin: 10px 0; }

.contact__form { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 50%; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: auto; text-align: center; }

input[type="text"], input[type="email"] { display: inline-block; width: 100%; padding: 13px; border: none; color: #373d47; font-size: 18px; font-family: "Karla", sans-serif; margin-bottom: 20px; background: #f8f7f5; border: 1px solid #e2c2c6; border-radius: 8px; -webkit-box-shadow: none; box-shadow: none; }

.input__icon-name { position: absolute; color: #bb2929; top: 13px; right: 15px; font-size: 20px; opacity: 0; }

.input__icon-email { position: absolute; color: #bb2929; top: 85px; right: 15px; font-size: 20px; opacity: 0; }

.exito { font-size: 18px; color: #373d47; -ms-flex-item-align: end; align-self: flex-end; margin-right: 100px; margin-top: 20px; opacity: 0; }

input[type="text"]:focus, input[type="email"]:focus, .textarea:focus { border-top: 3px solid #b8a5a5; }

.textarea { display: block; max-width: 100%; min-width: 100%; max-height: 200px; min-height: 200px; background: #f8f7f5; color: #373d47; border: 1px solid #e2c2c6; border-radius: 8px; font-family: "Karla", sans-serif; font-size: 18px; padding: 13px; margin-bottom: 20px; }

input[type="submit"] { display: inline-block; width: 90px; height: auto; padding: 10px; color: #747372; background: #f8f7f5; border: 1px solid #e2c2c6; border: none; border-radius: 8px; font-size: 15px; font-family: "Karla", sans-serif; font-weight: 400; cursor: pointer; -ms-flex-item-align: start; align-self: flex-start; }

input:focus, input.form-control:focus, textarea { outline: none !important; outline-width: 0 !important; -webkit-box-shadow: none; box-shadow: none; }

.footer { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #35343b; background: #ffffff; padding: 30px 0; margin: 0 auto; border-top: 1px solid transparent; -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); }

.footer__logo { width: 50%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__social { width: 50%; height: auto; text-align: center; font-size: 20px; font-weight: 400; }

.social__legend { margin-bottom: 20px; }

.container__icon a { display: inline-block; width: 35px; height: 35px; color: #30353b; text-decoration: none; margin: 0 8px; font-size: 20px; text-align: center; border: 1px solid #000; border-radius: 50%; line-height: 35px; -webkit-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; margin-bottom: 20px; }

.container__icon a:first-child:hover { color: #fff; background: #f09433; background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); border: none; }

.container__icon a:hover { background-color: #1873eb; color: #fff; border: 1px solid #1873eb; }

.copyright { font-size: 16px; font-weight: 400; }

.header__project { width: 100%; height: 80px; }

.container__skew { position: relative; overflow: hidden; width: 100%; height: auto; background: url(/public/assets/hero-project.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; -o-object-fit: cover; object-fit: cover; }

.container__skew .deg-background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.container__skew .skew-one { position: absolute; z-index: 10; top: 0; left: 0; height: 60px; width: 100%; border-width: 15vh 100vw 0 0; border-style: solid; border-color: #ffffff transparent transparent transparent; }

.container__skew .project { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 80px; }

.container__skew .project .project__title { width: 420px; padding: 15px 0; font-size: 45px; color: #929797; border: 1px solid #c4c4c47a; font-weight: 300; margin-top: 35px; text-align: center; border-radius: 4px; background: rgba(255, 255, 255, 0.09); }

.container__skew .project .project__title .hr-nov { width: 120px; margin: 0 auto; margin-bottom: 5px; color: #888d8d; }

.container__skew .project .project__title .hr-quin { width: 245px; margin: 0 auto; margin-bottom: 5px; color: #888d8d; }

.container__skew .project .project__title .hr-beat { width: 120px; margin: 0 auto; margin-top: 5px; color: #888d8d; }

.container__skew .project .hr-pro { width: 285px; margin: 0 auto; margin-top: 5px; color: #888d8d; }

.container__skew .project .project__tags { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; width: 350px; height: 50px; margin-top: 40px; background: rgba(255, 255, 255, 0.09); border: 1px solid #c4c4c47a; border-radius: 16px; }

.container__skew .project .project__tags a { color: #cccccc; text-decoration: none; }

.container__skew .projects__cards { width: 100%; height: 100%; padding: 10px 40px; padding-top: 30px; margin-bottom: 50px; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.container__skew .project__card { width: 280px; height: 380px; margin: 20px; background: rgba(255, 255, 255, 0.09); border-radius: 6px; -webkit-box-shadow: 2px 2px 10px 0 black; box-shadow: 2px 2px 10px 0 black; }

.container__skew .border { border: 1px solid #c4c4c47a; }

.container__skew .project__img { width: 100%; height: 90%; border-radius: 6px 6px 0 0; background-repeat: no-repeat; background-size: cover; background-position: center; -o-object-fit: cover; object-fit: cover; cursor: pointer; }

.container__skew .card__subtitle { font-size: 18px; font-weight: 400; padding: 5px; color: #888d8d; }

.container__skew .projects__btn { display: inline-block; width: 130px; height: 50px; border: 1px solid #c4c4c47a; text-align: center; border-radius: 22px; font-size: 20px; font-weight: 300; font-family: "Karla", sans-serif; color: #888d8d; background-color: rgba(255, 255, 255, 0.09); cursor: pointer; margin-bottom: 100px; }

.container__skew .show__more { display: none; }

.container__skew .imagen-light { position: fixed; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transform: translate(100%); transform: translate(100%); -webkit-transition: -webkit-transform 0.2s ease-in-out; transition: -webkit-transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }

.container__skew .show { -webkit-transform: translate(0); transform: translate(0); }

.container__skew .agregar-imagen { background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; -o-object-fit: cover; object-fit: cover; width: 45%; border-radius: 10px; -webkit-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-transform 0.3s 0.2s; transition: -webkit-transform 0.3s 0.2s; transition: transform 0.3s 0.2s; transition: transform 0.3s 0.2s, -webkit-transform 0.3s 0.2s; }

.container__skew .showimage { -webkit-transform: scale(1); transform: scale(1); }

.container__skew .close { position: absolute; top: 115px; right: 80px; width: 40px; cursor: pointer; }

.container__skew .skew-two { position: absolute; bottom: 0; left: 0; height: 60px; width: 100%; border-width: 0 0 15vh 100vw; border-style: solid; border-color: transparent transparent #ffffff transparent; }

.footer-skew { position: relative; overflow: hidden; width: 100%; height: auto; border-top: 1px solid transparent; -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); }

/* BREAKPOINTS */
@media screen and (max-width: 1024px) { /* Breakpoint navigation */
  .navigation { padding: 0 20px; }
  .navigation__links { position: fixed; background: #ee9ca7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */ background: -webkit-gradient(linear, left top, right top, from(#ffdde1), to(#ee9ca7)); background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ top: 0; right: 0; width: 100%; height: 100vh; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-clip-path: circle(0% at 100% 0); clip-path: circle(0% at 100% 0); pointer-events: all; display: -webkit-box; display: -ms-flexbox; display: flex; opacity: 0; }
  .menu__clip-path { -webkit-clip-path: circle(125% at 100% 0); clip-path: circle(150% at 100% 0); }
  .hamburguer { display: block; margin-left: 10px; }
  .services__card-img { width: 50%; }
  .card_content { width: 50%; }
  .services__content { margin-top: 30px; }
  .contact__form { width: 60%; margin-top: 30px; } }

@media screen and (max-width: 824px) { /* Breakpoint about_me */
  .about_me__title, .portfolio__title, .contact__title { font-size: 50px; margin-bottom: 30px; }
  .about_me__img { width: 220px; height: 220px; margin-top: 30px; }
  .about_me__paragraph { text-align: center; }
  /* Breakpoint services*/
  .services__title { font-size: 50px; margin-bottom: 15px; }
  .service__legend { margin-bottom: 35px; }
  /* Breakpoint customer*/
  .customers__title { font-size: 50px; margin-bottom: 15px; }
  .costumbers__copy { margin-bottom: 25px; }
  /* Breakpoint project */
  .container__cards { margin-top: 55px; }
  .card { width: 330px; height: 540px; padding-top: 45px; padding-bottom: 35px; }
  .card__copy { padding: 0 10px; }
  /* Contact Form */
  .contact__form { width: 70%; margin-top: 30px; }
  /* Breakpoint footer */
  .footer__social { font-size: 18px; }
  .social__legend a { font-size: 19px; width: 32px; height: 32px; } }

@media screen and (max-width: 739px) { .about_me__paragraph { width: 50%; margin: 25px 0; }
  .container__cards { padding: 0 40px; }
  .container__cards .card:first-child { margin-bottom: 30px; }
  .logo__img { width: 100%; } }

@media screen and (max-width: 600px) { .navigation { padding: 0 10px; }
  .about_me__title, .services__title, .customers__title, .portfolio__title, .contact__title { font-size: 45px; }
  .about_me__title::before, .about_me__title::after { margin: 5px 0; }
  .about_me__title::before { width: 300px; }
  .contact__title::after { width: 160px; font-size: 19px; }
  .logo__img { width: 85%; height: 70px; }
  .logo-nav { width: 80%; } }

@media screen and (max-width: 500px) { .service_redir { width: 80%; }
  .services__card-img { width: 50%; }
  .card_content { width: 60%; }
  .navigation { padding: 0 10px; }
  .hamburguer { margin-right: 10px; width: 20px; }
  .logo { width: 300px; }
  .card__h3 { font-size: 23px; margin: 15px 5px; margin-top: 50px; }
  .services__card p { margin-top: 40px; padding: 0 15px; }
  .footer { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .footer__logo { margin-bottom: 20px; width: 100%; }
  .footer__social { width: 100%; }
  .about_me__title, .services__title, .customers__title, .portfolio__title, .contact__title { font-size: 42px; }
  .about_me__title::before { width: 265px; top: 55px; }
  .about_me__title::after { width: 200px; font-size: 18px; top: 45px; }
  .service__legend::after { width: 170px; font-size: 18px; }
  .service__legend::before { width: 215px; }
  .costumbers__copy::after { font-size: 18px; width: 70px; }
  .costumbers__copy::before { width: 150px; }
  .portfolio__title::after { width: 145px; font-size: 18px; }
  .portfolio__title::before { width: 190px; }
  .contact__title::after { width: 170px; font-size: 18px; margin: -5px 0; }
  .contact__title::before { width: 215px; margin: -5px 0; } }

@media screen and (max-width: 380px) { .logo { width: 250px; }
  .logo-nav { width: 85%; }
  .about_me__title, .portfolio__title, .contact__title { font-size: 35px; }
  .about_me__img { width: 200px; height: 200px; margin-top: 20px; }
  .about_me__paragraph { width: 80%; }
  .card { width: 280px; }
  .contact__form { width: 90%; }
  .footer__logo { width: 90%; height: auto; }
  .container__cards { margin-top: 70px; } }

@media screen and (max-width: 340px) { .card__h3 { margin-top: 30px; }
  .portfolio__title::before { top: 50px; }
  .portfolio__title::after { top: 38px; }
  .card__copy { width: 100%; } }

@media screen and (max-width: 1024px) { .container__skew .agregar-imagen { width: 80%; }
  .container__skew .close { top: 22%; right: 0; } }

@media screen and (max-width: 824px) { .project--nav { background: #2f3640; }
  .project--nav a { color: #fff; } }

@media screen and (max-width: 824px) and (max-width: 768px) { .container__skew .agregar-imagen { height: 55%; }
  .container__skew .project__card { width: 340px; }
  .container__skew .close { top: 21%; } }

@media screen and (max-width: 480px) { .container__skew .project .project__title { width: 300px; font-size: 40px; }
  .container__skew .project .project__tags { width: 300px; }
  .container__skew .project .hr-pro { width: 255px; }
  .container__skew .project .project__title .hr-nov { width: 105px; }
  .container__skew .project .project__title .hr-quin { width: 215px; }
  .container__skew .project .project__title .hr-beat { width: 110px; }
  .container__skew .projects__btn { width: 100px; height: 45px; font-size: 18px; }
  .container__skew .project__card { width: 320px; }
  .container__skew .agregar-imagen { width: 80%; }
  .container__skew .close { width: 35px; top: 25%; right: 0; }
  .container__skew .projects__cards { padding: 10px 0px; } }

@media screen and (max-width: 320px) { .container__skew .project .project__title { width: 280px; }
  .container__skew .projects__cards { padding: 10px 0; }
  .container__skew .project .project__tags { width: 280px; }
  .container__skew .agregar-imagen { width: 80%; height: 40%; } }
/*# sourceMappingURL=main.css.map */